<div class="container">
  <div class="row bootstrap snippets bootdey">
      <div class="col-md-7 col-xs-12 col-md-offset-3">
        <div class="panel" id="daily-feed">
          <div class="panel-heading">
            <h3 class="panel-title">Daily news feed</h3>
          </div>
          <div *ngFor="let item of items" class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-online" href="javascript:void(0)">
                      <img src="https://www.bootdey.com/app/webroot/img/Content/icons/32/PNG/32/bookmark.png" alt=""><i></i></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a class="name">{{item?.title}}</a> {{item?.feedDescription}}
                    </h4>
                    <small>{{item?.updatedDate}}</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  </div>